<!DOCTYPE html>
<html ng-app="App">
  <head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/statistics.css">
  </head>
  <body ng-controller="Controller"  ng-cloak>
    <div class="page">

      <div class="menu-bar">
        <a href="/">New City</a>
        <a href="/statistics">Statistics</a>
      </div>

      <div class="dropdown-menu sub-menu">
        <h6 class="dropdown-header">Choose your tool</h6>
        <a class="dropdown-item" href="javascript:void(0)" ng-click="switchContent('1')">Table 1</a>
        <a class="dropdown-item" href="javascript:void(0)" ng-click="switchContent('2')">Table 2</a>
        <a class="dropdown-item" href="javascript:void(0)" ng-click="switchContent('3')">Chart</a>
      </div>

      <div class="page-content">
        <!--Table 1-->
        <table class="table" ng-show="activate_table_1">
            <thead class="thead-dark">
              <tr>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Occupants No</th>
                <th scope="col">Area</th>
                <th scope="col">Population density</th>'
                <th scope="col">Coordinates</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in data_table_1">
                <td>{{data.city}}</td>
                <td>{{data.country}}</td>
                <td>{{data.population}}</td>
                <td>{{data.area}}</td>
                <td>{{data.density}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table"  ng-show="activate_table_2">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Country</th>
                  <th scope="col">Total Population</th>
                  <th scope="col">Average City Population</th>
                  <th scope="col">Population density</th>'
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in data_table_2">
                  <td>{{data.country}}</td>
                  <td>{{data.population}}</td>
                  <td>{{data.avg_pop}}</td>
                  <td>{{data.density}}</td>
                </tr>
              </tbody>
            </table>

          <canvas id="canvas" width="300" height="300" ng-show="activate_chart" ng-model="canvas" ng-show="activate_chart"></canvas>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="/js/statistics.js"></script>
    <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
  </body>
</html>
